/* 
<br class="something">
display: block;
display: none; */

body {
    margin: 0 auto;
    background-color: #E5E5E5;
    position: relative;
}

.header {
    display: flex;
    margin-top: 26px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}


.headerLogo {
    margin-left: 80px;
}

.mobile-nav {
    display: block;
    margin-left: 40px;
}

.nav {
    justify-content: space-between;
    margin-top: 12px;
    display: none;
}

.headerButton {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: none;
}

.headerButton:first-child {
    margin-right: 47px;
    display: none;
}

.Get-Started {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 14px 24px 15px 24px;
    border-radius: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: none;
  }


.grid-container {
    display: grid;
    flex-direction: column;
    align-content: center;
    margin-top: 0px;
    grid-template: 1fr 0fr 1fr 2fr / 1fr;
    grid-template-areas: 
    "item-a"
    "item-b"
    "item-c"
    "item-d";
}

.mainImg {
    width: 100%;
    display: none;
}

.mainImg-tablet {
    width: 342px;
    height: 220px;
    display: block;
    margin-top: 0px;
}

.textOne {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 24px;
    display: flex;
    text-align: center;
    margin-left: 8px;
}

.textTwo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.grid-container-two {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr;
    width: 100%;
    row-gap: 56px;
    column-gap: 24px;
    margin-top: 10px;
    grid-template-areas: 
    "card-a"
    "card-b"
    "card-c"
    "card-d" 
    "card-e"
    "card-f";
}

.grid-item-two {
    background-color: #FFFFFF;
    color: black;
    border-radius: 24px;
}

.card-a {
    grid-area: card-a;
    background-color: #FEBD2F;
    display: flex;
    width: 342px;
    height: 132px;
}

.card-a-text {
    position: relative;
    margin-top: 0px;
    top: 12px;
    left: 30px;
    font-size: 24px;
    line-height: 37px;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
  }

.card-b, .card-c, .card-d, .card-e, .card-f {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 332px;
    height: 257px;
}


.card-title {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    margin-top: 0px;
    top: 32px;
    left: 32px;
}

.card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    position: absolute;
    margin-top: 0px;
    top: 71px;
    left: 32px;
    width: 84%;
}

.card-button {
    text-decoration: none;
    color: #000000;
    border: 1px solid #DCDCDC;
    padding: 6px 24px 6px 24px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    position: absolute;
    top: 191px;
    left: 32px;

}

.card-icon {
    position: absolute;
    top: -45px;
    right: 35px;
}

footer {
    background-color: #FEBD2F;
    margin-top: 1025px;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}